<h1 class="current_category"><%= params[:subject]%></h1>

<% if @books.count == 0 %>

	<h4>There are no books currently in this category</h4>

<% else %>	

	<div class="container">
	    <h2>All Books</h2>
<div class="row">
		<% @books.each do |book| %>
<div class="col-md-3">
		
				<a href="/books/<%= book.id %>">
		        <%= image_tag book.avater.url(:book_index), class: "book" %>
				</a>
			
</div>
		<% end %>
		
		</div>

	</div>
	
<% end %>	